ul {
    list-style-type: none;
    background-color: #333;
}

li {
    display: inline;
    list-style-type: none;
    text-align: center;  
    padding: 14px 16px;
}

navigation {
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 200px;
    z-index: 10000;
}

h1 {
    color: white;
    text-align: center;
    font-family: "arial";
    font-size: 64px;
}

h2 {
    color: white;
    text-align: center;
    font-family: "arial";
    font-size: 64;
}

p {
    color: white;
    text-align: center;
    font-family: "arial";
}

head {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ca/af/19/caaf198372f936563d2198e22780131c.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

div {
	height: 400px;
	width: 50%;
	background-color: rgba(169, 169, 169, 0.7);
   	width: 300px;
    	border: 25px solid black;
    	padding: 25px;
    	margin: 25px;
}
