h1 {
    color: white;
    text-align: center;
    font-family: "arial";
    font-size: 64px;
}

h2 {
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

p {
   	color: white;
    	text-align: center;
    	font-family: "arial";
	overflow: auto;
}

body {
	background-image: url("http://imgur.com/a/7Q1YW");
    	background-repeat: no-repeat;
	background-position: bottom left;
}

ul {
   	list-style-type: none;
	text-align: right;
}

li {
    	display: inline;
    	list-style-type: none;
    	text-align: right;  
    	padding: 20px;
	margin: 0;
	font-family: "arial";
	font-size: 20px;
}

#changeText {
	display: block;
	margin: auto;
	width: 500px;
	font-family: "arial";
	font-size: 40px;
	width: 50%;
	text-align: center;
}
