.test {
	display: block;
	height: 1000px;
	width: 800px;
	border: 1px solid green;
	border-style: solid;
	word-wrap: break-word;
	text-align: center;
	background-color: rgba(211, 211, 211, 0.7);
	margin: auto;
}

.ImgNavigation {
	display: block;
	height: 300px;
	width: 800px;
}

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/ca/af/19/caaf198372f936563d2198e22780131c.jpg");
    background-repeat: no-repeat;
    background-position: center top;
	background-attachment: fixed;
}

ul {
   	list-style-type: none;
	text-align: center;
}

li {
    	display: inline;
    	list-style-type: none;
    	text-align: center;  
    	padding: 20px;
	margin: 0;
	background-color: #dddddd;
	font-family: "arial";
	font-size: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-family: "arial";
    font-size: 64px;
}

h2 {
    color: white;
    text-align: center;
    font-family: "arial";
    font-size: 64;
}

p {
   	color: white;
    	text-align: center;
    	font-family: "arial";
	overflow: auto;
}
