img {
  width: 300px;
}

.logo img {
  width 50%;
  margin: auto;
  display: block;
  padding: 10px;
}

/* Navigation */


#logo {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  padding: 0px 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
    font-family: "Arial";
    font-size: 30px;
    color: rgb(255, 255, 255);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
  background-color: rgb(49, 119, 142);
}
