img {
  width: 500px;
  margin: auto;
  display: block;
}

.logo img {
  width 50%;
  margin: auto;
  display: block;
  padding: 10px;
}

	

/* Navigation */

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
 
li {
    float: center;
    display: inline;
	font-size: 20px;
	font-family: "Raleway";
	padding-top:20px;
	padding-bottom:20px;
	padding-left, right: 30px;
}

#logo {
	color: rgb(252, 163, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 55px;
	font-family: "Macondo";
}

li a {
	color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 255, 255);
}

/* Header and Footer */

	.wrap {
		position:relative;
		margin:0 auto;
		width:1000px;
		text-align: center;
		float: center;
	}

	#header, #footer {
		width:100%;
		float:center;
		background-color: rgba(255, 255, 255, 0.8);
	}

/* Content */

body {
  background-color: rgb(49, 119, 142);
	margin: 0px;
}

.portfolio {
	margin: auto;
	display: block;
	width: 75%;
	background-color: rgba(255, 255, 255, 0.8);
	border-style: solid;
	border-color: white;
	border-width: 2px;
	text-align: center;
	padding-top, bottom: 25px;
}

.about {
	margin: auto;
	display: block;
	width: 75%;
	background-color: rgba(255, 255, 255, 0.8);
	border-style: solid;
	border-color: white;
	border-width: 2px;
	text-align: center;
	padding-top, bottom: 25px;
}

.about img {
	margin: auto;
	border-radius: 50%;
	width: 30%;
	float: center;
}

.cv {
	margin: auto;
	display: block;
	width: 75%;
	background-color: rgba(255, 255, 255, 0.8);
	border-style: solid;
	border-color: white;
	border-width: 2px;
	text-align: center;
	padding-top, bottom: 25px;
}

h4 {
	display: inline-block;
}


p {
	padding-bottom: 20px;
	padding-left, right: 25px;
}









