img {
  width: 500px;
  margin: auto;
  display: block;
}

.logo img {
  width 50%;
  margin: auto;
  display: block;
  padding: 10px;
}

	

/* Navigation */

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
 
li {
    float: center;
    display: inline;
	font-size: 30px;
	font-family: "Raleway";
	padding-top:10px;
	padding-bottom:10px;
	padding-left, right: 20px;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(255, 255, 255);
}

#logo li {
	color: Orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 40px;
	font-family: "Indie Flower";
}

body {
  background-color: rgb(49, 119, 142);
	margin: 0px;
}

.wrap {
		position:relative;
		margin:0 auto;
		width:1000px;
	}

	#header, #footer {
		width:100%;
		float:center;
		background-color: rgba(255, 255, 255, 0.6);
	}
